[Unit]
Description=Panasonic Inverter Controller
After=network.target
After=time-set.target

[Service]
Type=simple
User=mhy
Group=mhy
WorkingDirectory=/home/mhy/paninv
Environment=PANINV_DB=/home/mhy/paninv/paninv.db
ExecStart=/home/mhy/bin/paninv_controller

Nice=-10
TimeoutStopSec=0
Restart=always
RuntimeDirectory=paninv
RuntimeDirectoryMode=2755
PIDFile=/run/paninv/paninv_controller.pid

UMask=0022
ReadOnlyPaths=/
ReadWritePaths=/home/mhy/paninv
PrivateTmp=yes
#PrivateDevices=yes
#ProtectHome=yes

[Install]
WantedBy=multi-user.target
Alias=paninv.service
